[submodule "detours"]
	path = detours
	url = https://github.com/microsoft/Detours.git
[submodule "MemoryModule"]
	path = MemoryModule
	url = https://github.com/fancycode/MemoryModule.git
[submodule "modules/SkipIntro/Soku-SkipIntro"]
	path = modules/SkipIntro/Soku-SkipIntro
	url = https://github.com/S-len/Soku-SkipIntro.git
[submodule "SokuLib"]
	path = SokuLib
	url = https://github.com/SokuDev/SokuLib.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
