cmake-build-*
build
.idea
.vs
CMakeSettings.json
score.dat
modules/TrialMode/packs/*/*.dll
modules/TrialMode/packs/*/*.pdb
modules/TrialMode/packs/*/*.ilk
modules/TrialMode/packs/*/*.manifest
modules/TrialMode/packs/*/*.backup
modules/TrialMode/packs/*/*.cv0
modules/TrialMode/packs/OfficialPacks/*/*.cv0