4 RCDATA "../TagSoku/assets/gageReimu.png"
8 RCDATA "../TagSoku/assets/gageMarisa.png"
12 RCDATA "../TagSoku/assets/gageSakuya.png"
16 RCDATA "../TagSoku/assets/gageAlice.png"
20 RCDATA "../TagSoku/assets/gagePatchouli.png"
24 RCDATA "../TagSoku/assets/gageYoumu.png"
28 RCDATA "../TagSoku/assets/gageRemilia.png"
32 RCDATA "../TagSoku/assets/gageYuyuko.png"
36 RCDATA "../TagSoku/assets/gageYukari.png"
40 RCDATA "../TagSoku/assets/gageSuika.png"
44 RCDATA "../TagSoku/assets/gageReisen.png"
48 RCDATA "../TagSoku/assets/gageAya.png"
52 RCDATA "../TagSoku/assets/gageKomachi.png"
56 RCDATA "../TagSoku/assets/gageIku.png"
60 RCDATA "../TagSoku/assets/gageTenshi.png"
64 RCDATA "../TagSoku/assets/gageSanae.png"
68 RCDATA "../TagSoku/assets/gageCirno.png"
72 RCDATA "../TagSoku/assets/gageMeiling.png"
76 RCDATA "../TagSoku/assets/gageUtsuho.png"
80 RCDATA "../TagSoku/assets/gageSuwako.png"
84 RCDATA "../TagSoku/assets/gageEmpty.png"
88 RCDATA "../TagSoku/assets/gageEmpty.png"
;92 RCDATA "../TagSoku/assets/gageMomiji.png"
;96 RCDATA "../TagSoku/assets/gageClownpiece.png"
;100 RCDATA "../TagSoku/assets/gageFlandre.png"
;104 RCDATA "../TagSoku/assets/gageOrin.png"
;108 RCDATA "../TagSoku/assets/gageYuuka.png"
;112 RCDATA "../TagSoku/assets/gageKaguya.png"
;116 RCDATA "../TagSoku/assets/gageMokou.png"
;120 RCDATA "../TagSoku/assets/gageMima.png"
;124 RCDATA "../TagSoku/assets/gageShou.png"
;128 RCDATA "../TagSoku/assets/gageMurasa.png"
;132 RCDATA "../TagSoku/assets/gageSekibanki.png"
;136 RCDATA "../TagSoku/assets/gageSatori.png"
;140 RCDATA "../TagSoku/assets/gageShinki.png"
