4 RCDATA "assets/packBorder.png"
8 RCDATA "assets/iconMissing.png"
12 RCDATA "assets/gear.png"
16 RCDATA "assets/gearShadow.png"
20 RCDATA "assets/aliceDoll.png"
24 RCDATA "assets/trial.png"
28 RCDATA "assets/locked.png"
32 RCDATA "assets/lockedPreview.png"
36 RCDATA "assets/frame.png"
40 RCDATA "assets/BLACK_COUPLE.png"
44 RCDATA "assets/edit.png"
48 RCDATA "assets/items.png"
52 RCDATA "assets/selectedItems.png"
56 RCDATA "assets/editSeatBackground.png"
60 RCDATA "assets/editSeatForeground.png"
64 RCDATA "assets/stick_top.png"
68 RCDATA "assets/tick.png"
72 RCDATA "assets/editSeatEmpty.png"
76 RCDATA "assets/editScenario.png"
80 RCDATA "assets/trialEditor.png"
84 RCDATA "assets/trialEditorDummy.png"
88 RCDATA "assets/trialEditorMisc.png"
92 RCDATA "assets/trialEditorMockup.png"
96 RCDATA "assets/trialEditorPlayer.png"
100 RCDATA "assets/trialEditorSystem.png"
104 RCDATA "assets/comboEdiFG.png"
108 RCDATA "assets/comboEditBG.png"
112 RCDATA "assets/twilight.png"
116 RCDATA "assets/normal.png"
120 RCDATA "assets/scoreEdit.png"

;124 RCDATA "assets/installsReimu.png"
128 RCDATA "assets/installsMarisa.png"
132 RCDATA "assets/installsSakuya.png"
;136 RCDATA "assets/installsAlice.png"
140 RCDATA "assets/installsPatchouli.png"
144 RCDATA "assets/installsYoumu.png"
;148 RCDATA "assets/installsRemilia.png"
;152 RCDATA "assets/installsYuyuko.png"
;156 RCDATA "assets/installsYukari.png"
160 RCDATA "assets/installsSuika.png"
;164 RCDATA "assets/installsReisen.png"
;168 RCDATA "assets/installsAya.png"
;172 RCDATA "assets/installsKomachi.png"
;176 RCDATA "assets/installsIku.png"
;180 RCDATA "assets/installsTenshi.png"
;184 RCDATA "assets/installsSanae.png"
;188 RCDATA "assets/installsCirno.png"
;192 RCDATA "assets/installsMeiling.png"
;196 RCDATA "assets/installsUtsuho.png"
;200 RCDATA "assets/installsSuwako.png"
;204 RCDATA "assets/installsRandom.png"
;208 RCDATA "assets/installsNamazu.png"
;212 RCDATA "assets/installsMomiji.png"
;216 RCDATA "assets/installsClownpiece.png"
;220 RCDATA "assets/installsFlandre.png"
;224 RCDATA "assets/installsOrin.png"
;228 RCDATA "assets/installsYuuka.png"
;232 RCDATA "assets/installsKaguya.png"
;236 RCDATA "assets/installsMokou.png"
;240 RCDATA "assets/installsMima.png"
;244 RCDATA "assets/installsShou.png"
;248 RCDATA "assets/installsMurasa.png"
;252 RCDATA "assets/installsSekibanki.png"
;256 RCDATA "assets/installsSatori.png"
;260 RCDATA "assets/installsShinki.png"