4 RCDATA "assets/packBorder.png"
8 RCDATA "assets/iconMissing.png"
12 RCDATA "assets/gear.png"
16 RCDATA "assets/gearShadow.png"
20 RCDATA "assets/aliceDoll.png"
24 RCDATA "assets/trial.png"
28 RCDATA "assets/locked.png"
32 RCDATA "assets/lockedPreview.png"
36 RCDATA "assets/frame.png"
40 RCDATA "assets/BLACK_COUPLE.png"
44 RCDATA "assets/edit.png"
48 RCDATA "assets/items.png"
52 RCDATA "assets/selectedItems.png"
56 RCDATA "assets/editSeatBackground.png"
60 RCDATA "assets/editSeatForeground.png"
64 RCDATA "assets/stick_top.png"