4 RCDATA "assets/packBorder.png"
8 RCDATA "assets/iconMissing.png"
12 RCDATA "assets/gear.png"
16 RCDATA "assets/gearShadow.png"
20 RCDATA "assets/aliceDoll.png"
24 RCDATA "assets/trial.png"
28 RCDATA "assets/locked.png"
32 RCDATA "assets/2_menu_moji1.png"
36 RCDATA "assets/2_menu_moji2.png"