div.leftChr{
    position: absolute;
    width: 12.5%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

div.rightChr{
    position: absolute;
    width: 12.5%;
    height: 100%;
    left: 87.5%;
    top: 0;
    overflow: hidden;
}

img.rightChr {
    transform: scale(-1, 1);
}

.background {
    width: 100%;
    height: 100%;
}

.behind {
    z-index: -1;
}

img.centered {
    z-index: -2;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    height: 100.7%;
    margin: auto;
}

div.deck {
    height: 40%;
    position: absolute;
    bottom: 0;
}

div.cards {
    font-size: 0;
    height: 25%;
    background-color: black;
}

img.card {
    width: 20%;
    height: 100%;
}

img.hand_card {
    margin: 2% 2% 2% 2%;
    width: 16%;
    height: 90%;
    box-shadow: 0 0 3px 5px #FFFF00;
}

div.stat {
    background-color: black;
    opacity: 0.8;
}

.leftStats .icon {
    float: left
}

.leftStats .level {
    float: left
}

.rightStats .icon {
    float: right
}

.rightStats .level {
    float: right
}

div.stats {
    position: absolute;
    bottom: 40%;
}

img.icon {
    height: 48px;
    width: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img.level {
    height: 30px;
    width: 181px;
    margin: 13px 0 10px 5px;
}

img.used_card {
    width: 20%;
    height: 100%;
    opacity: 0.5;
}

img.unused_card {
    width: 20%;
    height: 100%;
    opacity: 0;
}

div.container {
    overflow: hidden;
    width: 100%;
}

div.topOverlayContainer {
    height: 70px;
}

div.inner {
    overflow: hidden;
}

div.topOverlayInner {
    width: 100%;
    height: 100%;
}

div.leftOverlay {
    margin-left: 5%;
    height: 100%;
    margin-right: 0;
}

div.rightOverlay {
    margin-left: 10%;
    height: 100%;
}

div.topOverlay {
    width:40%;
    float: left;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

div.leftOverlayElement {
    float: left;
    top: -100%;
    position: relative;
    margin-left: 5%;
    color: white;
}

div.rightOverlayElement {
    float: right;
    top: -100%;
    position: relative;
    margin-right: 5%;
    color: white;
}

div.score {
    width: 47px;
    height: 100%;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

div.name {
    width: 80%;
    height: 100%;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}