div.leftChr{
    position: absolute;
    width: 12.5%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

div.rightChr{
    position: absolute;
    width: 12.5%;
    height: 100%;
    left: 87.5%;
    top: 0;
    overflow: hidden;
}

img.rightChr {
    transform: scale(-1, 1);
}

img.centered {
    z-index: -1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    height: 100.7%;
    margin: auto;
}

div.container {
    overflow: hidden;
    width: 100%;
}

div.inner {
    overflow: hidden;
    width: 100%;
}

div.leftOverlay {
    margin-left: 20%;
    margin-right: 0;
}

div.rightOverlay {
    margin-left: 0;
    margin-right: 20%;
}

div.topOverlay {
    width:30%;
    float: left;
}

div.leftOverlayElement {
    float: left;
    margin-left: 10%;
    background-color: gray;
}

div.rightOverlayElement {
    float: right;
    background-color: gray;
    margin-right: 10%;
}

div.score {
    width: 47px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

div.name {
    width: 75%;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}